In [1]:
import sys
import time
import random

import numpy as np
import pandas as pd

In [2]:
gen_users = pd.read_csv('dataset/users.csv')
gen_tweets = pd.read_csv('dataset/tweets.csv')

In [3]:
gen_users

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,488351800,MASC,angeli_masc,60463,568,387,15599,1,http://t.co/lzG1h0bGlm,en,...,NaN,NaN,NaN,NaN,Fri Feb 10 10:59:44 +0000 2012,2012-02-10 11:59:44,2015-05-01 13:11:15,2016-03-15 16:02:35,1,0
1,75506408,Karan Baweja,krnbwj,135,208,263,43,2,NaN,en,...,NaN,"Startup-bug-bitten-experimentalist, a wannabee...",NaN,NaN,Sat Sep 19 08:28:16 +0000 2009,2009-09-19 10:28:16,2015-05-02 01:30:57,2016-03-15 16:06:58,1,1
2,37407255,অগ্নিভ নিয়োগী,Aagan86,283536,7785,424,1157,217,https://t.co/8FehkHOTmi,en,...,NaN,"Typical Aantel,reader, blogger, social media &...",NaN,NaN,Sun May 03 12:17:01 +0000 2009,2009-05-03 14:17:01,2015-05-01 17:25:52,2016-03-15 15:53:59,0,0
3,1664307984,laurel daniel,_laureldaniel,1770,179,132,1224,0,NaN,en,...,NaN,NaN,NaN,NaN,Mon Aug 12 06:35:01 +0000 2013,2013-08-12 08:35:01,2015-05-01 13:04:00,2016-03-15 16:02:01,0,0
4,308236961,King Devin,_KingDevin25,4790,3325,1327,235,5,http://t.co/bhVTgRUb5r,en,...,NaN,Official twitter of an Student Athlete on a pa...,NaN,NaN,Tue May 31 02:07:05 +0000 2011,2011-05-31 04:07:05,2015-05-01 20:08:34,2016-03-15 16:01:50,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,85203320,Tee,boyzinthehoood,8860,178,493,715,6,NaN,en,...,NaN,! What We Do In Life Echoes In Eternity !,NaN,NaN,Mon Oct 26 00:48:05 +0000 2009,2009-10-26 01:48:05,2015-05-02 03:02:25,2016-03-15 16:03:12,0,0
96,1617515642,Sofia,sofialozano_,12502,478,353,28547,0,NaN,en,...,NaN,Yea i have trash eyebrows but my Personality A1,NaN,NaN,Wed Jul 24 11:11:27 +0000 2013,2013-07-24 13:11:27,2015-05-02 09:58:04,2016-03-15 16:09:55,0,0
97,3013481653,augustine,drizzlingh0ran,1189,369,337,250,0,NaN,en,...,NaN,i was so stupid for letting you go // new account,NaN,NaN,Sun Feb 08 13:34:39 +0000 2015,2015-02-08 14:34:39,2015-05-02 01:06:25,2016-03-15 16:04:18,0,0
98,614770385,JB,brockly36,103,26,189,40,1,NaN,en,...,NaN,NaN,NaN,NaN,Fri Jun 22 02:23:20 +0000 2012,2012-06-22 04:23:20,2015-05-01 16:11:56,2016-03-15 16:03:16,0,0
99,221187678,HARIS KHAN,KingKhanBeats,48392,1824,499,36945,14,http://t.co/sMTqIimaOn,en,...,NaN,Music Producer | Recording Engineer | Mix Engi...,NaN,NaN,Tue Nov 30 00:02:07 +0000 2010,2010-11-30 01:02:07,2015-05-01 15:53:04,2016-03-15 15:57:59,0,0

In [4]:
gen_tweets

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,594073273480130560,How Randolph Hodgson and Neals Yard Dairy gave...,"<a href=""http://www.apple.com"" rel=""nofollow"">...",887281,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Fri May 01 09:38:00 +0000 2015,2015-05-01 11:38:00,2015-05-01 12:59:53,2015-05-01 12:59:53
1,594066507723833345,“Twitter’s multi-billion dollar mistake happen...,"<a href=""http://www.apple.com"" rel=""nofollow"">...",887281,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,1,Fri May 01 09:11:07 +0000 2015,2015-05-01 11:11:07,2015-05-01 12:59:53,2015-05-01 12:59:53
2,593739179655323649,The evolution of advertising in the legal sect...,"<a href=""http://twitter.com/download/iphone"" r...",887281,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Thu Apr 30 11:30:26 +0000 2015,2015-04-30 13:30:26,2015-05-01 12:59:53,2015-05-01 12:59:53
3,593737857149345792,RT @rorysutherland: Plan Bee - http://t.co/030...,"<a href=""http://twitter.com/download/iphone"" r...",887281,NaN,0,0,NaN,593693743548649472,NaN,...,NaN,NaN,NaN,0,1,4,Thu Apr 30 11:25:10 +0000 2015,2015-04-30 13:25:10,2015-05-01 12:59:53,2015-05-01 12:59:53
4,593282967134466051,RT @davewiner: Some say the Other Internet is ...,"<a href=""http://twitter.com/download/iphone"" r...",887281,NaN,0,0,NaN,593213234737446912,NaN,...,NaN,NaN,NaN,0,1,1,Wed Apr 29 05:17:36 +0000 2015,2015-04-29 07:17:36,2015-05-01 12:59:53,2015-05-01 12:59:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248528,573687545311162368,RT @FreestyIeRaps: They killed this hoe,"<a href=""http://twitter.com/download/iphone"" r...",3073742769,NaN,0,0,NaN,570307641035100161,NaN,...,NaN,NaN,NaN,0,0,1,Fri Mar 06 03:32:24 +0000 2015,2015-03-06 04:32:24,2015-05-02 01:41:44,2015-05-02 01:41:44
248529,573687532149424128,"RT @QuiNigga_: ""@SavageBars: HE KILLED IT AGAIN","<a href=""http://twitter.com/download/iphone"" r...",3073742769,NaN,0,0,NaN,572641966216884225,NaN,...,NaN,NaN,NaN,0,0,2,Fri Mar 06 03:32:20 +0000 2015,2015-03-06 04:32:20,2015-05-02 01:41:44,2015-05-02 01:41:44
248530,573687515342835712,RT @FreestyIeRaps: HE KILLED IT,"<a href=""http://twitter.com/download/iphone"" r...",3073742769,NaN,0,0,NaN,572622978447503360,NaN,...,NaN,NaN,NaN,0,0,2,Fri Mar 06 03:32:16 +0000 2015,2015-03-06 04:32:16,2015-05-02 01:41:44,2015-05-02 01:41:44
248531,573659786216079360,RT @DreecNation: S/o to my new follower @QuiNi...,"<a href=""http://twitter.com/download/iphone"" r...",3073742769,NaN,0,0,NaN,573651460103106560,NaN,...,NaN,NaN,NaN,0,0,2,Fri Mar 06 01:42:05 +0000 2015,2015-03-06 02:42:05,2015-05-02 01:41:44,2015-05-02 01:41:44
248532,573650510756069376,NaN,"<a href=""http://twitter.com/download/iphone"" r...",3073742769,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,0,0,Fri Mar 06 01:05:14 +0000 2015,2015-03-06 02:05:14,2015-05-02 01:41:44,2015-05-02 01:41:44